%h2= "#{@user.display_name}'s wish list"
%ul#items
  - @user.items.each_with_index do |item, index|
    %li
      = link_to item.name, "/users/#{@user.id}/items/#{index}"
.buttons
  %a.button{:href=>"/users/#{@user.id}/items/new"}
    %img{:src=>"/images/icons/add.png", :alt=>"add"}/
    add item